body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

.colorBorder {
  border: 2px solid #557A95;
  border-radius: 3px;
  background-color: #fff;
}

.codePointInfo {
  /*min-width: 400px;*/
  padding:20px;
}

th {
  background-color: #557A95;
  color: rgba(255,255,255);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*td {
  background-color: #f9f9f9;
}*/

th, td {
  /*min-width: 120px;*/
  padding: 10px 20px;
}
th {
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

/** Grid CSS **/

.grid {
  content: "";
  display: table;
  clear: both;

  width: 100%;
}
.grid-cell {
    float: left;
    height: 100%;
}

.grid-50-50 > .grid-cell-1 {
  max-width: 49%;
  } .grid-50-50 > .grid-cell-2 {
  width: 49%;
}


code {
  background: #f5f2f0;
  padding:5px;
}


tr.selectedCodePoint {
  background:#659DBD;
}

.codepointTable tr:hover  {
  background:#7395AE;
}

.codepointTable {
  max-height: 90vh;
  overflow-y: scroll;
  margin: 0px;
}